[submodule "EasyLoRa_Proto"]
	path = EasyLoRa_Proto
	url = https://github.com/Carlos4621/EasyLoRa_Proto
[submodule "external/serial_cpp"]
	path = external/serial_cpp
	url = https://github.com/ami-iit/serial_cpp
